@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend+Giga:wght@100..900&family=Outfit:wght@100..900&family=Parisienne&display=swap');


* {
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Giga", sans-serif;
    

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: no-repeat url(logo.png);
    background-position: center;
    background-size: cover;

}


section{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 30px;
    width: 420px;
    border-radius: 20px;

}

section h1 {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    position: relative;
    margin-bottom: 25px;

}

.input-box input {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    padding-right: 40px;

}

.input-box input::placeholder {
    color: transparent;
}

.input-box i {
    position: absolute;
    transform: translateY(-50%);
    right: 20px;
    top: 50%;
    color: white;
}

.remenber-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: #fff;
    margin-bottom: 12px;
}

.login-btn {
    color: black;
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.5s;

}

.login-btn:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: black;

}

.register-link {
    text-align: center;
    margin-top: 25px;
    color: #fff;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: black;
    padding-right: 40px;
}