PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3308
DB_USER=root
DB_PASSWORD=root
DB_NAME=vitrine
JWT_SECRET=change_me
STRIPE_SECRET_KEY=change_me
CLIENT_URL=http://localhost:5173
UPLOADS_BASE_URL=http://localhost:3000