PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3308
DB_USER=root
DB_PASSWORD=change_me
DB_NAME=bddnelegance

JWT_SECRET=change_me
JWT_EXPIRES_IN=7d

STRIPE_SECRET_KEY=change_me
STRIPE_WEBHOOK_SECRET=change_me

CLIENT_URL=http://localhost:5173
PUBLIC_API_URL=http://localhost:3000

NODE_ENV=development